@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
        /* Move half since we duplicated reviews */
    }
}

.animate-slide {
    animation: slide 20s linear infinite;
}